---
import Background from "@/components/Background.astro";
import CustomCursor from "@/components/CustomCursor.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import type { Meta } from "@/config/landing.interface";
import "@fontsource-variable/rubik";

interface Props {
  meta: Meta;
}

const { meta } = Astro.props;
const ldJson = JSON.stringify(meta.ldJson);
---

<!doctype html>
<html
  lang={meta.lang ?? "en"}
  class="scrollbar-thin scrollbar-thumb-black scrollbar-track-transparent scroll-smooth"
>
  <head>
    <meta charset={meta.charset ?? "UTF-8"} />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={import.meta.env.SITE} />
    <script type="application/ld+json" set:html={ldJson} is:inline />

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>

  <body
    class="bg-white text-black dark:bg-black dark:text-white transition-colors duration-300"
  >
    <Background />
    <CustomCursor />
    <slot />
    <ScrollToTop />
  </body>
</html>

<style is:global>
  body {
    font-family:
      "Rubik Variable",
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
